################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MML.Api/MML.Api.Application/bin/Debug/netstandard2.1
